<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myra.weather">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/asap_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/asap_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppWeather">
        <activity android:name=".MainActivity" android:theme="@style/Theme.AppWeather.Splash"
            android:exported="TODO">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--        <service android:name="AccessLocation"-->
        <!--            android:foregroundServiceType="location"/>-->
    </application>

</manifest>